

.box{
    border: 1px solid black;
    box-shadow:0px 0px 5px 0px ;
    width: 352px;
    height:auto;
    margin:50px auto;
    padding: 48px 40px 36px;
    box-sizing: border-box;
    border-radius: 5px;

}
.head__image{
    width: 70px;
}
.box__head{
    text-align: center;
    font-family: sans-serif;
}
.text__head{
    font-size: 24px;
    padding-top: 10px;
}

.text__subhead{
    font-size: 16px;
}

.box__input{
    margin-top: 40px;
color: blue;
font-size: 12px;
font-family: bold;

}
.input__email{
border-bottom:1px solid blue;
margin-bottom: 35px;
}
.input__create{
    padding-bottom: 48px;
}
.create__account{
    float: left;
}
.create__btn{
float: right;
color: white;
background-color: blue;
border-radius: 5px;
padding: 5px 20px 5px 20px;
}
.input__guest{
    padding:35px 0px 35px 0px;
}
.guest__text{
    color: grey;
}
.main-box{
    height: 509px;
}
/* .footer{
    
    margin: auto;
    height: 100px;
    
} */
input:focus{
    outline: none;
}